.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content {
    flex: 1;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .price {
    font-size: 3rem;
    font-weight: 700;
  }

  button {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tooltip__info {
  font-size: inherit;

  & > div {
    background-color: #7b1fa2;
    font-size: 1.6rem;
  }
}
